<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="home"></ion-icon> {{p.title}}
      </button>
      <button ion-item (click)="loginPopUp()" *ngIf="!currentUser">
        <ion-icon name="person"></ion-icon> Login
      </button>
      <button ion-item (click)="logout()" *ngIf="currentUser">
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon> Logout {{currentUser.email}}
      </button>
      <button ion-item (click)="registerAccountPopUp()" *ngIf="!currentUser">
          <ion-icon name="create"></ion-icon> Register Account
      </button>
      <button ion-item (click)="updatePasswordPopUp()" *ngIf="!currentUser">
        <ion-icon name="help"></ion-icon> Update Password
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
